/* Mobile */

@media(max-width:768px){

nav{

flex-direction:column;
padding:20px;

}

nav ul{

flex-direction:column;
margin-top:20px;

}

.hero{

flex-direction:column;

text-align:center;

}

.hero-left,
.hero-right{

width:100%;

}

.skills{

grid-template-columns:1fr;

}

.projects{

grid-template-columns:1fr;

}

}

/* Tablet */

@media(min-width:769px) and (max-width:1024px){

.skills{

grid-template-columns:repeat(2,1fr);

}

.projects{

grid-template-columns:repeat(2,1fr);

}

}

/* Desktop */

@media(min-width:1025px){

.skills{

grid-template-columns:repeat(4,1fr);

}

.projects{

grid-template-columns:repeat(3,1fr);

}

}